<a href="https://colab.research.google.com/github/Skystar728/py05/blob/master/notebook/ch4_exercises_py05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch4_exercises_py05.ipynb

## Q1.
> 주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성해 보자.

In [1]:
# [Q1] Code - 1
def is_odd(num):
    if(num % 2 == 0): # num의 값이 2로 나눴을 때, 나머지가 0이면 짝수이다.
        return ("{0} 은(는) 짝수입니다.".format(num))
    else: # num의 값이 2로 나눴을 때, 나머지가 1이면 홀수이다.
        return ("{0} 은(는) 홀수입니다.".format(num))
is_odd(1),is_odd(2)

('1 은(는) 홀수입니다.', '2 은(는) 짝수입니다.')

In [2]:
# [Q1] Code - 2
is_odd = lambda num: ("{0} 은(는) 짝수입니다.".format(num)) if(num % 2 == 0) else ("{0} 은(는) 홀수입니다.".format(num))
is_odd(1),is_odd(2)

('1 은(는) 홀수입니다.', '2 은(는) 짝수입니다.')

In [3]:
# [Q1] Code - 3
def is_odd(num):
    remainder = num % 2
    if(bool(remainder) == False): # 나머지가 1이면 remainder의 bool 값은 True가 되고, 0이면 False가 된다.
        return ("{0} 은(는) 짝수입니다.".format(num))
    else:
        return ("{0} 은(는) 홀수입니다.".format(num))
is_odd(1),is_odd(2)

('1 은(는) 홀수입니다.', '2 은(는) 짝수입니다.')

In [4]:
# [Q1] Code - 4
def is_odd(num):
    if(num & 1 == 0): # 비트 and 연산자를 사용해 짝수이면 비트 연산 결과가 0이 되고 홀수이면 1이 되는 방식을 이용한다.
        return ("{0} 은(는) 짝수입니다.".format(num))
    else:
        return ("{0} 은(는) 홀수입니다.".format(num))
is_odd(1),is_odd(2) # 1의 2진수 = 1, 1 & 1 = 1(홀수), 2의 2진수 = 10, 10 & 01 = 00(짝수), 3의 2진수 = 11, 11 & 01 = 01(홀수)

('1 은(는) 홀수입니다.', '2 은(는) 짝수입니다.')

## Q2.
> 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자. 
- (단 입력으로 들어오는 수의 개수는 정해져 있지 않다.)
- ※ 평균 값을 구할 때 len 함수를 사용해 보자.

In [5]:
# [Q2] Code
args = eval(input())  # eval() 함수를 이용해 입력값을 문자열이 아닌 튜플로 받는다
def avg(*args):
    result = 0
    for i in args:
      result += i
    return (result / len(args))
avg(*args)

(1,2,3,4,5)

3.0

## Q3.
> 다음은 두 개의 숫자를 입력받아 더하여 돌려주는 프로그램이다.

```
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

```
---
> 이 프로그램을 수행해 보자.

>> 첫번째 숫자를 입력하세요:3  
>> 두번째 숫자를 입력하세요:6
- 두 수의 합은 36 입니다
- 3과 6을 입력했을 때 9가 아닌 36이라는 결괏값을 돌려주었다.  
이 프로그램의 오류를 수정해 보자.

In [6]:
# [Q3] Code - 1
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")
 
total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 36 입니다

In [7]:
type(input1),type(input2)
# input1과 input2 결과의 type이 문자열로 되어있기에 문자열의 합으로 붙어서 나온다.

(str, str)

In [8]:
# [Q3] Code - 2
input1 = int (input("첫번째 숫자를 입력하세요:"))
input2 = int (input("두번째 숫자를 입력하세요:"))
# 그러므로 input 함수 앞에 int를 이용해 문자열을 숫자(정수)로 바꿔주면 제대로 작동한다.
 
total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9 입니다

## Q4.
> 다음 중 출력 결과가 다른 것 한 개를 골라 보자.

```
print("you" "need" "python")
print("you"+"need"+"python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))
```

In [9]:
# [Q4] Code
print("you" "need" "python")
print("you"+"need"+"python")
# 큰따옴표로 둘러싸인 문자열은 + 연산과 동일하다. 따라서 위 두 식은 같다.

youneedpython
youneedpython

In [10]:
print("you", "need", "python")  # 문자열의 띄어쓰기는 콤마로 하기 때문에 출력시 자동적으로 띄어쓰기가 된다.

you need python

In [11]:
print("".join(["you", "need", "python"])) # join 함수 앞 큰따옴표에 공백이나 문자가 없으므로 리스트 문자열 요소값이 그대로 출력된다.

youneedpython

## Q5.
> 다음은 "test.txt"라는 파일에 "Life is too short" 문자열을 저장한 후 다시 그 파일을 읽어서 출력하는 프로그램이다.

```
f1 = open("test.txt", 'w')
f1.write("Life is too short")

f2 = open("test.txt", 'r')
print(f2.read())

```
>> 이 프로그램은 우리가 예상한 "Life is too short"라는 문장을 출력하지 않는다.

>> 우리가 예상한 값을 출력할 수 있도록 프로그램을 수정해 보자.

In [12]:
# [Q5] Code - 1
f1 = open("test.txt", 'w')
f1.write("Life is too short") # 쓰기 모드로 파일을 열었을 경우 close()로 닫지 않고 다시 사용하려고 하면 오류가 발생한다.
 
f2 = open("test.txt", 'r')
print(f2.read())

In [13]:
# [Q5] Code - 2
f1 = open("test.txt", 'w')
f1.write("Life is too short")
f1.close()
 
f2 = open("test.txt", 'r')
print(f2.read())

Life is too short

In [14]:
# [Q5] Code - 3
# close를 사용하지 않아도 되는 with구문을 사용해도 된다.
with open("test.txt", 'w') as f1:
    f1.write("Life is too short")
with open("test.txt", 'r') as f2:
    print(f2.read())

Life is too short

## Q6.
> 사용자의 입력을 파일(test.txt)에 저장하는 프로그램을 작성해 보자. 
- (단 프로그램을 다시 실행하더라도 기존에 작성한 내용을 유지하고 새로 입력한 내용을 추가해야 한다.)

In [15]:
# [Q6] Code
user_input = input("저장할 내용을 입력하세요:")
f = open('test.txt', 'a') # 추가 모드인 'a'를 이용해 기존 내용을 유지한다.
f.write(user_input)
f.write("\n") # 입력된 내용을 줄 단위로 구분하기 위해 줄 바꿈 문자를 넣는다.
f.close()

저장할 내용을 입력하세요:Life is too short

## Q7.
> 다음과 같은 내용을 지닌 파일 foo1.txt가 있다. 이 파일의 내용 중 "java"라는 문자열을 "python"으로 바꾸어서 저장해 보자.

>> Life is too short  
>> you need java

- ※ replace 함수를 사용해 보자.

In [16]:
# [Q7] Code - 1
f = open('foo1.txt', 'r')
data = f.read()
print(data)
f.close()
# 파일에는 아직 Life is too short you need java가 저장되어있다.

Life is too short
you need java

In [0]:
# [Q7] Code - 2
f = open('foo1.txt', 'r')
body = f.read()
f.close() # foo1.txt 파일을 모두 읽는다.

body = body.replace('java', 'python') # 그 후 문자열의 replace 함수를 사용하여 java 문자열을 python으로 변경한다.

f = open('foo1.txt', 'w')
f.write(body)
f.close() # 마지막으로 변경한 내용을 저장한다.

In [18]:
# [Q7] Code - 3
f = open('foo1.txt', 'r')
data = f.read()
print(data)
f.close()
# 파일에 java가 python으로 바뀌어서 Life is too short you need python으로 저장되어있다.

Life is too short
you need python

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch4_exercises_id.ipynb