<a href="https://colab.research.google.com/github/Skystar728/py05/blob/master/notebook/ch8_exercises_py05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch8_exercises_py05.ipynb

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [ ]:
# [Q1] Code-1 split,join 사용
a = "a:b:c:d"   # a에 주어진 조건인 "a:b:c:d"를 입력한다.
b = a.split(":")  # split 함수를 이용해서 ":"를 기준으로 나눈다. b = ['a', 'b', 'c', 'd']

c = "#".join(b)   # 나눠진 b의 각각의 문자 사이에 "#"을 넣어준다. c = "a#b#c#d"
c   # c를 출력하면 "a#b#c#d"가 나오게 된다.

'a#b#c#d'

In [ ]:
# [Q1] Code-2 split,join 사용
def split_join(str, split_str, join_str):  # 문자열을 나누고 삽입하는 함수를 만든다.
    return join_str.join(str.split(split_str))   # str에 입력된 문자열을 split_str에 입력된 문자열을 기준으로 나눈다. 그 다음으로 join_str에 입력된 문자열을 나눈 문자열의 문자 사이사이에 삽입한다.

split_join("a:b:c:d", ":", "#")   # "a:b:c:d".split(":") = ['a', 'b', 'c', 'd'], "#".join(['a', 'b', 'c', 'd']) = 'a#b#c#d'

'a#b#c#d'

In [ ]:
# [Q1] Code-3 split,join 사용
a = "a:b:c:d"   # a에 주어진 조건인 "a:b:c:d"를 입력한다.
colon = ":"   # ":"를 변수 colon에 넣는다.
b = a.split(colon)  # split 함수를 이용해서 변수 colon에 입력된 ":"을 기준으로 나눈다. b = ['a', 'b', 'c', 'd']

sharp = "#"   # "#"를 변수 sharp에 넣는다.
c = sharp.join(b)   # 나눠진 b의 각각의 문자 사이에 변수 sharp에 입력된 "#"을 넣어준다. c = "a#b#c#d"
c   # c를 출력하면 "a#b#c#d"가 나오게 된다.

'a#b#c#d'

In [ ]:
# [Q1] Code-4 replace 사용
a = "a:b:c:d"   # a에 주어진 조건인 "a:b:c:d"를 입력한다.
b = a.replace(":", "#")   # replace 함수를 이용해 문자열의 ":"을 "#"으로 바꾼다. b = "a#b#c#d"
b   # b를 출력하면 "a#b#c#d"가 나오게 된다.

'a#b#c#d'

In [ ]:
# [Q1] Code-5 replace 사용
def rep(str, std_str, chg_str):  # 문자열을 바꾸는 함수를 만든다.
    return str.replace(std_str, chg_str)  # str에 입력된 문자열에서 바꿀 문자열 std_str을 새문자열인 chg_str로 변경하여 되돌려준다. 

rep("a:b:c:d", ":", "#")  # 따라서 "a:b:c:d"에서 ":"을 "#"으로 변경한 값을 돌려받아 출력하게 된다.

'a#b#c#d'

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [ ]:
# [Q2] Code-1
a = {'A':90, 'B':80}
a.get('C', 70)  # get 함수를 이용하여 딕셔너리 안에 찾으려는 key 값이 없을 경우 미리 정해둔 디폴트 값을 대신 가져오게 한다. 따라서 'C'라는 key 값이 없기 때문에 디폴트 값인 70을 가져온다.

70

In [ ]:
# [Q2] Code-2
a = {'A':90, 'B':80}
a['C'] = 70   # a 딕셔너리 안에 key 값이 'C'이고 value 값이 70인 쌍을 추가한다.
print(a['C']) # 추가한 후 a 딕셔너리 안에 있는 'C' key의 value 값인 70을 출력한다.

70

In [ ]:
# [Q2] Code-3
a = {'A':90, 'B':80}
try:  # try 블록 수행 중 오류가 발생하면 except 블록이 수행된다. 하지만 try 블록에서 오류가 발생하지 않는다면 except 블록은 수행되지 않는다.
    a['C']  # 하지만 딕셔너리의 'C'라는 key 값이 없기 때문에 오류 메시지 변수가 C 인 KeyError가 발생한다.
except KeyError as C:  # 오류 메시지 변수가 C 인 KeyError가 발생한 경우 70을 출력하는 오류 예외 처리를 만든다.
    print(70)

70

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

In [ ]:
# [Q3] Explain - 1 (코드와 주석으로 설명하시오)
a = [1, 2, 3]
print(id(a))  # 리스트 a의 주소값은 139947795417416 이다.
a = a + [4, 5] # 리스트 a에 [4, 5]를 기본 연산자 + 로 더한다.
print(a)  # 리스트 a는 [1, 2, 3, 4, 5]로 바뀌게 된다.
print(id(a))  # 하지만 바뀐 리스트의 주소값은 139947794367112 로 처음 리스트 a와 주소값이 다르다. 정리하면 첫 리스트와 다른 새로운 리스트가 반환되었다.

139947795417416
[1, 2, 3, 4, 5]
139947794367112

In [ ]:
# [Q3] Explain - 2 (코드와 주석으로 설명하시오)
a = [1, 2, 3]
print(id(a))  # 리스트 a의 주소값은 139947794689736 이다.
a.extend([4, 5])  # 리스트 a에 extend를 이용하여 [4, 5]를 더한다.
print(a)  # 리스트 a는 [1, 2, 3, 4, 5]로 바뀌게 된다.
print(id(a))  # 바뀐 리스트의 주소값은 139947794689736 으로 처음 리스트 a와 주소값이 같다. 정리하면 바뀐 리스트는 첫 리스트와 같고 값만 다른 리스트이다.

139947794689736
[1, 2, 3, 4, 5]
139947794689736

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [ ]:
# [Q4] Code-1
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0
while A:  # A 리스트에 값이 있는 동안 반복된다.
    mark = A.pop()  # A 리스트의 가장 마지막 항목을 뽑아 변수 mark에 넣는다.
    if mark >= 50:  # 만약 mark가 50 이상이면,
        result += mark  # result에 mark 값을 더한다.

print(result) # 리스트 A에 50이상인 수만 모두 더해진 결과값이 나온다.

481

In [ ]:
# [Q4] Code-2
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0
for mark in A:  # A에 있는 리스트의 요소를 리스트가 비어질 때까지 하나씩 mark에 넣는 것을 반복한다. 
    if mark >= 50:  # 만약 mark가 50 이상이면,
        result += mark  # result에 mark 값을 더한다.

print(result) # 리스트 A에 50이상인 수만 모두 더해진 결과값이 나온다.

481

In [ ]:
# [Q4] Code-3
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
B = []  # B 라는 빈 리스트를 만든다.
for mark in A:  # A에 있는 리스트의 요소를 리스트가 비어질 때까지 하나씩 mark에 넣는 것을 반복한다.
    if mark >= 50:  # 만약 mark가 50 이상이면,
        B.append(mark)  # 리스트 B에 append 함수를 이용해 mark를 추가한다.

print(B)  # B 리스트에는 A 리스트의 요소 중 50 이상인 요소만 있는 리스트가 생긴다. B = [55, 67, 82, 90, 87, 100]
print(sum(B)) # sum 함수를 이용해 B 리스트의 모든 요소를 합한다.

[55, 67, 82, 90, 87, 100]
481

In [ ]:
# [Q4] Code-4
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0  
count = -1  
while count < 9:  # count가 8일 경우까지만 반복한다.
    count += 1  # count += 1 -> count = count + 1, count를 1씩 올린다.
    if A[count] < 50: continue  # A[count]가 50미만일 경우 반복문 처음으로 돌아간다.
    result += A[count]  # 앞선 if문 때문에 50이상인 수들만 result에 더해진다.
print(result) # 리스트 A에 50이상인 수만 모두 더해진 결과값이 나온다.

481

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [ ]:
# [Q5] Code-1
def fib(n):
    if n == 0: return 0 # n이 0일 때는 0을 반환한다.
    if n == 1: return 1 # n이 1일 때는 1을 반환한다.
    return fib(n-2) + fib(n-1)  # n이 2 이상일때는 그 이전의 두 값을 더하여 반환한다.

for i in range(11): # 0부터 10까지 반복해서 수열을 출력한다.
    print(i, fib(i))

0 0
1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34
10 55

In [ ]:
# [Q5] Code-2
def fib(n):
    return fib(n-1) + fib(n-2) if n >= 2 else n # n이 2이상이면 바로 앞 두 식을 더한 값을 반환하고, 2미만이면 자기 자신을 반환한다. 

for n in range(11): # 0부터 10까지 반복해서 수열을 출력한다.
    print(n, fib(n))

0 0
1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34
10 55

In [ ]:
# [Q5] Code-3
def fib(n):
    if n < 2:
        return n  # n이 2미만일 때는 자기자신을 반환한다. 0은 0을 반환하고, 1은 1을 반환한다.
    a, b = 0, 1
    for i in range(n-1):
        a, b = b, a + b # n이 2이상일 때는 n-1번 주어진 식을 반복한다. ex) (0, 1 = 1, 1), (1, 1 = 1, 2), (1, 2 = 2, 3), (2, 3 = 3, 5)...
    return b   # 마지막으로 반복된 식의 b를 출력한다.


for n in range(11): # 0부터 10까지 반복해서 수열을 출력한다.
    print(n, fib(n))

0 0
1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34
10 55

In [ ]:
# [Q5] Code-4
def fib(n): 
    answer = 0; f0 = 0; f1 = 1  # answer은 n번째 피보나치 수열값을 나타내기 위해 0으로 놔둔다. f0과 f1은 각각 0번째와 1번째 피보나치 수열값을 나타낸다.
    if n < 2: 
        return n  # n이 2미만일 때는 자기자신을 반환한다. 0은 0을 반환하고, 1은 1을 반환한다.
    else: 
        for i in range(1,n): 
            answer = f1 + f0  
            f0 = f1
            f1 = answer ## n이 2이상일 때는 n-1번 주어진 식을 반복한다. ex) answer = 1+0 = 1, f0 = f1 = 1, f1 = answer = 1 / answer = 1+1 = 2, f0 = f1 = 1, f1 = answer = 2...
    return answer # 마지막으로 반복된 식의 answer를 출력한다

for n in range(11): # 0부터 10까지 반복해서 수열을 출력한다.
    print(n, fib(n))

0 0
1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34
10 55

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [13]:
# [Q6] Code-1
user_input = input("숫자를 입력하세요: ")
numbers = user_input.split(",") # 입력 받은 숫자들을 ","를 기준으로 나눈다.
total = 0
for n in numbers:
    total += int(n)   # 입력은 문자열이므로 int를 이용해 숫자로 변환 후 total에 더해준다.
print(total)

숫자를 입력하세요: 65,45,2,3,45,8
168

In [3]:
# [Q6] Code-2
user_input = input("숫자를 입력하세요: ")
numbers = user_input.split(",") # 입력 받은 숫자들을 ","를 기준으로 나눈다.

def sum_total(numbers, total = 0):  # 입력 받은 숫자들을 계산하는 함수를 만든다.
    for n in numbers:
      total += int(n)   # 입력은 문자열이므로 int를 이용해 숫자로 변환 후 total에 더해준다.
    return total

print(sum_total(numbers))

숫자를 입력하세요: 65,45,2,3,45,8
168

In [42]:
# [Q6] Code-3
numbers = map(int, input("숫자를 입력하세요: ").split(","))   # map 함수를 이용해 받은 숫자들을 리스트에 입력한다. int를 이용해서 입력을 문자열이 아닌 숫자로 받는다.
total = 0
for n in numbers:
    total += n
print(total)

숫자를 입력하세요: 65,45,2,3,45,8
168

In [12]:
# [Q6] Code-4
numbers = map(int, input("숫자를 입력하세요: ").split(","))  # map 함수를 이용해 받은 숫자들을 리스트에 입력한다. int를 이용해서 입력을 문자열이 아닌 숫자로 받는다.
total = sum(numbers)  # sum을 이용하여 리스트의 있는 모든 요소들을 합하여 total에 넣는다.
print(total)

숫자를 입력하세요: 65,45,2,3,45,8
168

In [15]:
# [Q6] Code-5
list_number = []  # 빈 리스트를 하나 만든다.
user_input = input("숫자를 입력하세요: ")
numbers = user_input.split(",") # 입력 받은 숫자들을 ","를 기준으로 나눈다.
for n in numbers:
    list_number.append(int(n))  # ","를 기준으로 나눈 입력 받은 숫자를 리스트 list_number에 하나씩 추가한다.
print(sum(list_number)) # sum을 이용하여 리스트 list_number의 있는 모든 요소들을 합하여 출력한다.

숫자를 입력하세요: 65,45,2,3,45,8
168

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [16]:
# [Q7] Code-1
user_input = input("구구단을 출력할 숫자를 입력하세요(2~9):")
dan = int(user_input)  # 입력은 문자열이므로 int를 이용해 숫자로 변환한다.
for i in range(1, 10):  # 1부터 9까지 진행을 반복한다.
    print(i*dan, end= ' ')  # 곱셈한 값을 한 줄로 출력하기 위해 줄 바꿈 문자 대신 공백 문자를 마지막에 출력한다.

구구단을 출력할 숫자를 입력하세요(2~9):2
2 4 6 8 10 12 14 16 18

In [17]:
# [Q7] Code-2
user_input = input("구구단을 출력할 숫자를 입력하세요(2~9):")
dan = int(user_input)  # 입력은 문자열이므로 int를 이용해 숫자로 변환한다.

def times_table(a): # 구구단을 진행하는 함수를 만든다.
    for i in range(1, 10):  # 1부터 9까지 진행을 반복한다.
      print(i*a, end= ' ')  # 곱셈한 값을 한 줄로 출력하기 위해 줄 바꿈 문자 대신 공백 문자를 마지막에 출력한다.

times_table(dan)  # 곱셈한 값을 출력한다.

구구단을 출력할 숫자를 입력하세요(2~9):2
2 4 6 8 10 12 14 16 18

In [20]:
# [Q7] Code-3
user_input = input("구구단을 출력할 숫자를 입력하세요(2~9):")
dan = int(user_input)  # 입력은 문자열이므로 int를 이용해 숫자로 변환한다.
i = 1   # 1부터 곱셈을 시작하기 때문에 기본값을 1로 잡아준다.

while(i<10):
    print(i*dan, end= ' ')  # 곱셈한 값을 한 줄로 출력하기 위해 줄 바꿈 문자 대신 공백 문자를 마지막에 출력한다.
    i += 1  # 출력 이후 반복을 위해 i의 값을 1씩 올려준다.

구구단을 출력할 숫자를 입력하세요(2~9):2
2 4 6 8 10 12 14 16 18

In [21]:
# [Q7] Code-4
user_input = input("구구단을 출력할 숫자를 입력하세요(2~9):")
dan = int(user_input)  # 입력은 문자열이므로 int를 이용해 숫자로 변환한다.
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]  # 리스트로 곱할 값을 만들어 준다.
for i in num_list:  # 리스트의 있는 숫자 하나하나씩 i에 넣고 반복한다.
    print(i*dan, end= ' ')  # 곱셈한 값을 한 줄로 출력하기 위해 줄 바꿈 문자 대신 공백 문자를 마지막에 출력한다.

구구단을 출력할 숫자를 입력하세요(2~9):2
2 4 6 8 10 12 14 16 18

In [26]:
# [Q7] Code-5
import numpy as np  # numpy 모듈을 불러오고 np 라고 칭한다.
user_input = input("구구단을 출력할 숫자를 입력하세요(2~9):")
dan = int(user_input)  # 입력은 문자열이므로 int를 이용해 숫자로 변환한다.
num_list = np.arange(1, 10) # numpy의 arange 함수를 이용해 1부터 9까지 리스트에 넣는다.

for i in num_list:  # 리스트의 있는 숫자 하나하나씩 i에 넣고 반복한다.
    print(i*dan, end= ' ')  # 곱셈한 값을 한 줄로 출력하기 위해 줄 바꿈 문자 대신 공백 문자를 마지막에 출력한다.

구구단을 출력할 숫자를 입력하세요(2~9):2
2 4 6 8 10 12 14 16 18

In [30]:
# [Q7] Code-6
dan = int(input("구구단을 출력할 숫자를 입력하세요(2~9):"))  # 입력은 문자열이므로 int를 이용해 숫자로 변환한다.
temp = [n*dan for n in range(1,10)] # 반복문을 한줄 코드로 바꾼 것이다. 리스트 temp에 곱셈한 값들을 요소로 넣는다.
for i in temp: # 리스트의 요소를 i에 하나씩 넣고 요소가 없어질 때까지 반복한다.
    print(i, end= ' ')  # 곱셈한 값을 한 줄로 출력하기 위해 줄 바꿈 문자 대신 공백 문자를 마지막에 출력한다.

구구단을 출력할 숫자를 입력하세요(2~9):2
2 4 6 8 10 12 14 16 18

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [32]:
# [Q8] Code-Requirement
f = open("abc.txt", 'r')  # abc.txt를 읽기모드로 연다.
data = f.read()           # 텍스트 파일의 모든 라인을 data에 읽힌다.
print(data)               # 읽은 데이터를 출력한다.
f.close()                 # 파일을 닫는다.

AAA
BBB
CCC
DDD
EEE

In [54]:
# [Q8] Code-1
f = open("abc.txt", 'r')  # abc.txt를 읽기모드로 연다.
lines = f.readlines()     # 모든 라인을 읽는다.
f.close()                 # 파일을 닫는다.

lines.reverse()           # 읽은 라인을 역순으로 정렬한다.

f = open("abc.txt", 'w')  # abc.txt를 쓰기모드로 연다.
for line in lines: 
    line = line.strip()   # 포함되어 있는 줄 바꿈 문자를 제거한다.
    f.write(line)
    f.write('\n')         # 마지막에 줄 바꿈 문자를 삽입한다.
f.close()                 # 파일을 닫는다.

f = open("abc.txt", 'r')  # abc.txt를 읽기모드로 연다.
data = f.read()           # 텍스트 파일의 모든 라인을 data에 읽힌다.
print(data)               # 읽은 데이터를 출력한다.
f.close()                 # 파일을 닫는다.

AAA/nBBB/nCCC/nDDD/nEEE/n

In [37]:
# [Q8] Code-2 
f = open("abc2.txt", 'r')         # abc.txt = abc2.txt를 읽기모드로 연다
for line in f.readlines()[::-1]:  # 모든 라인을 읽는데 처음부터 끝 라인까지 역순으로 읽어서 line에 넣는다. line이 없을때까지 반복한다.
    line = line.strip()           # 포함되어 있는 줄 바꿈 문자를 제거한다.
    print (line)                  # 받은 라인을 출력한다.

EEE
DDD
CCC
BBB
AAA

In [41]:
# [Q8] Code-3
for line in reversed(list(open("abc2.txt", 'r'))):   # reversed 함수를 이용해 읽은 파일을 역순으로 바꾸고 line에 저장한다. line이 없을때까지 반복한다.
    print(line.strip())                              # 줄 바꿈 문자를 제거한 line을 출력한다.

EEE
DDD
CCC
BBB
AAA

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [43]:
# [Q9] Code-Requirement
f = open("sample.txt", 'r')  # sample.txt를 읽기모드로 연다.
data = f.read() # 텍스트 파일의 모든 라인을 data에 읽힌다.
print(data)  # 읽은 데이터를 출력한다.
f.close()  # 파일을 닫는다.

70
60
55
75
95
90
80
80
85
100

In [45]:
# [Q9] Code-1
f = open("sample.txt")  # sample.txt를 연다.
lines = f.readlines()   # sample.txt를 줄 단위로 모두 읽는다.
f.close()

total = 0
for line in lines:
    score = int(line) # 줄에 적힌 정수를 숫자형으로 변환한다.
    total += score  # total에 숫자형으로 바뀐 정수들을 더한다,
average = total / len(lines)  # 평균값을 구하기 위해 total에서 라인의 갯수를 나눠준다.

f = open("result.txt", 'w') # result.txt를 쓰기모드로 연다.
f.write(str(average)) # 입력은 문자열이기 때문에 숫자형인 평균값을 str로 문자열로 바꾼다.
f.close()

f = open("result.txt", 'r')  # result.txt를 읽기모드로 연다.
data = f.read() # 텍스트 파일의 모든 라인을 data에 읽힌다.
print(data)  # 읽은 데이터를 출력한다.
f.close()  # 파일을 닫는다.

79.0

In [47]:
# [Q9] Code-2
f = open("sample.txt")  # sample.txt를 연다.
lines = f.readlines()   # sample.txt를 줄 단위로 모두 읽는다.
f.close()

score = list(map(int, lines)) # map 함수를 이용해 받은 라인들을 int를 이용해 숫자형으로 바꾼 후 score 리스트의 요소로 추가한다.
total = sum(score)  # 리스트 score의 총합을 sum을 이용해 구한 후, total에 넣는다.
average = total / len (lines)  # 평균값을 구하기 위해 total에서 라인의 갯수를 나눠준다.

f = open("result2.txt", 'w') # result2.txt를 쓰기모드로 연다.
f.write(str(average)) # 입력은 문자열이기 때문에 숫자형인 평균값을 str로 문자열로 바꾼다.
f.close()

f = open("result2.txt", 'r')  # result2.txt를 읽기모드로 연다.
data = f.read() # 텍스트 파일의 모든 라인을 data에 읽힌다.
print(data)  # 읽은 데이터를 출력한다.
f.close()  # 파일을 닫는다.

79.0

In [49]:
# [Q9] Code-3
f = open("sample.txt")  # sample.txt를 연다.
lines = f.readlines()   # sample.txt를 줄 단위로 모두 읽는다.
f.close()

scores = list(map(int, lines)) # map 함수를 이용해 받은 라인들을 int를 이용해 숫자형으로 바꾼 후 scores 리스트의 요소로 추가한다.
total = 0
for score in scores:  # scores의 있는 요소들 하나하나를 score에 넣는다. 더 넣을 요소가 없을 때까지 반복한다.
    total += score  # total에 score를 계속 합해주면 scores의 요소 score들의 총합이 된다.
average = total / len (lines)  # 평균값을 구하기 위해 total에서 라인의 갯수를 나눠준다.

f = open("result3.txt", 'w') # result3.txt를 쓰기모드로 연다.
f.write(str(average)) # 입력은 문자열이기 때문에 숫자형인 평균값을 str로 문자열로 바꾼다.
f.close()

f = open("result3.txt", 'r')  # result3.txt를 읽기모드로 연다.
data = f.read() # 텍스트 파일의 모든 라인을 data에 읽힌다.
print(data)  # 읽은 데이터를 출력한다.
f.close()  # 파일을 닫는다.

79.0

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [50]:
# [Q10] Code-1
class Calculator: # Calculator 클래스를 생성한다
    def __init__(self, numberList): # init 메서드는 클래스 객체 초기화한다. self는 클래식 객체 자신을 의미한다.
        self.numberList = numberList
    
    def sum(self):  # 리스트의 값을 모두 더하는 함수를 만든다.
        result = 0
        for num in self.numberList:
            result += num
        return result
    
    def avg(self):  # 리스트의 값의 평균을 구하는 함수를 만든다.
        total = self.sum()
        return total / len(self.numberList)

cal1 = Calculator([1,2,3,4,5])  # cal1 객체를 이용해 Calculator 클래스를 호출한다.
print(cal1.sum()) # cal1의 Calculator의 sum 메서드를 호출한다.
print(cal1.avg()) # cal1의 Calculator의 avg 메서드를 호출한다.

cal2 = Calculator([6,7,8,9,10]) # cal2 객체를 이용해 Calculator 클래스를 호출한다.
print(cal2.sum()) # cal2의 Calculator의 sum 메서드를 호출한다.
print(cal2.avg()) # cal2의 Calculator의 avg 메서드를 호출한다.

15
3.0
40
8.0

In [51]:
# [Q10] Code-2
class Calculator:  # Calculator 클래스를 생성한다.
    def __init__(self, numberList): # init 메서드는 클래스 객체 초기화한다. self는 클래식 객체 자신을 의미한다.
        self.numberList = numberList
 
    def sum(self):  # 리스트의 값을 모두 더하는 함수를 만든다.
        result = 0
        for num in self.numberList: 
            result += num
        return result

class UpgradeCalculator(Calculator):  # 클래스를 상속하기 위해서는 클래스 이름 뒤 괄호 안에 상속할 클래스 이름을 넣어준다. 여기서는 Calculator를 상속하기 때문에 괄호 안에 Calculator를 넣어준다.
    def avg(self):  # 리스트의 값의 평균을 구하는 함수를 만든다.
        total = self.sum()
        return total / len(self.numberList)

cal1 = UpgradeCalculator([1,2,3,4,5])   # cal1 객체를 이용해 UpgradeCalculator 클래스를 호출한다.
print(cal1.sum()) # cal1의 UpgradeCalculator의 sum 메서드를 호출한다.
print(cal1.avg()) # cal1의 UpgradeCalculator의 avg 메서드를 호출한다.
cal2 = UpgradeCalculator([6,7,8,9,10])  # cal2 객체를 이용해 UpgradeCalculator 클래스를 호출한다.
print(cal2.sum()) # cal2의 UpgradeCalculator의 sum 메서드를 호출한다.
print(cal2.avg()) # cal2의 UpgradeCalculator의 avg 메서드를 호출한다.

15
3.0
40
8.0



---

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [2]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

In [3]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

In [4]:
# [Q11] Code-1 sys 모듈 사용
# 다음과 같이 sys.path에 /content/doit 이라는 디렉터리를 추가하면 /content/doit 이라는 디렉터리에 있는 mymod 모듈을 사용할 수 있게 된다.
import sys
sys.path.append("/content/doit")
import mymod

In [11]:
# [Q11] Code-2 경로 이동 후 import
# pwd 나 os.getcwd를 통해 경로를 파악한다. 현재 디렉터리의 위치는 /content 이므로 /content/doit 으로 바꿔주고 mymod 모듈을 import한다.
import os
print(os.getcwd())
os.chdir("/content/doit")
import mymod

/content

In [22]:
# [Q11] Code-3 from을 이용해 경로 이동 후 import
# 하위 경로의 파일은 from 하위 폴더 처럼 폴더를 지정해주어 import할 수 있다.
from doit import mymod

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [27]:
# [Q12] Explain-1
result = 0
 
try:
    [1, 2, 3][3]
    "a"+1
    4 / 0

finally:
    result += 4

print(result)

IndexError: ignored

In [23]:
# [Q12] Explain-2 (코드와 주석으로 설명하시오)
result = 0  # result의 초깃값은 0이다.
 
try:  # try문 안의 [1, 2, 3][3] 이라는 문장 수행시 IndexError가 발생하여 except IndexError: 구문으로 이동하게 된다.
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:  # 위 이유로 구문이 실행되어 result에 3이 더해져 3이 된다.
    result += 3
finally:  # 최종적으로 finally 구문이 실행되어 result에 4가 더해져 7이 된다.
    result += 4
 
print(result) # 구문이 수행되어 최종 값인 7이 출력된다.

7

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [34]:
# [Q13] Code-1
data = input("숫자를 입력하세요: ")

numbers = list(map(int, data))  # 숫자 문자열을 숫자 리스트로 변경한다.
result = []

for i, num in enumerate(numbers):
    result.append(str(num))
    if i < len(numbers)-1:  # 만약 다음 수가 있다면 실행한다.
        is_odd = num % 2 == 1 # 현재 수가 홀수인지 판별한다.
        is_next_odd = numbers[i+1] % 2 == 1 # 다음 수가 홀수인지 판별한다.
        if is_odd and is_next_odd:  # 만약 연속으로 홀수라면
            result.append("-")  # "-"를 추가한다.
        elif not is_odd and not is_next_odd:  # 만약 연속으로 짝수라면
            result.append("*")  # "*"를 추가한다.

print("".join(result))

숫자를 입력하세요: 4546793
454*67-9-3

In [49]:
# [Q13] Code-2
data = input("숫자를 입력하세요: ")

numbers = list(map(int, data))  # 숫자 문자열을 숫자 리스트로 변경한다.
result = []

def DashInsert(numbers):
    for i, num in enumerate(numbers):
        result.append(str(num))
        if i < len(numbers)-1:  # 만약 다음 수가 있다면 실행한다.
            is_odd = num % 2 == 1 # 현재 수가 홀수인지 판별한다.
            is_next_odd = numbers[i+1] % 2 == 1 # 다음 수가 홀수인지 판별한다.
            if is_odd and is_next_odd:  # 만약 연속으로 홀수라면
                result.append("-")  # "-"를 추가한다.
            elif not is_odd and not is_next_odd:  # 만약 연속으로 짝수라면
                result.append("*")  # "*"를 추가한다.
    print("".join(result))

DashInsert(numbers)

숫자를 입력하세요: 4546793
454*67-9-3

In [48]:
# [Q13] Code-3
a=input("숫자를 입력하세요: ")
b=[]

for i in range(0,len(a)-1):
    if (int(a[i])%2==0 and int(a[i+1])%2==0) : # 짝수가 연속으로 나오면
        b.append(a[i]+"*")  # "*"를 추가한다.
    elif (int(a[i])%2==1 and int(a[i+1])%2==1) : # 홀수가 연속으로 나오면
        b.append(a[i]+"-")  # "-"를 추가한다.
    else :
        b.append(a[i])

print("".join(b)+a[len(a)-1])

숫자를 입력하세요: 4546793
454*67-9-3

In [51]:
# [Q13] Code-4
is_even = lambda a, b: int(a)%2==0 and int(b)%2==0  # 연속으로 짝수라면
is_odd = lambda a, b: int(a)%2 != 0 and int(b)%2 != 0 # 연속으로 홀수라면

def DashInsert(s):
    c = s[0]
    for a, b in zip(s, s[1:]):
        if is_even(a, b):   # 짝수가 연속으로 나오면
            c += '*' + b    # "*"를 추가한다.
        elif is_odd(a, b):  # 홀수가 연속으로 나오면
            c += '-' + b    # "-"를 추가한다.
        else:
            c += b

    return c

a = input("숫자를 입력하세요: ")
print(DashInsert(a))

숫자를 입력하세요: 4546793
454*67-9-3

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [32]:
# [Q14] Code-1
def compress_string(s):
    _c = ""
    cnt = 0
    result = ""
    for c in s:
      if c!=_c:
          _c = c
          if cnt: result += str(cnt)
          result += c
          cnt = 1
      else:
          cnt += 1
    if cnt: result += str(cnt)
    return result

print(compress_string("aaabbcccccca"))

a3b2c6a1

In [39]:
# [Q14] Code-2
s = input("압축할 문자열을 입력하세요: ") #초기값을 설정한다.
result = s[0] #반복문 실행되는 동안 문자열 형태로 반환되는 결과들을 담을 변수
count = 0 #반복되서 나오는 문자 수만큼 카운팅되는 값을 담을 변수

for i in s:
    if i == result[-1]: #result변수 마지막 문자와 비교한다. else에서 result변수에 값이 추가되기 때문에 마지막 문자[-1]와 비교한다.
        count += 1
    else:
        result += str(count) + i #마지막 글자와 i가 다를 경우 카운팅된 값을 문자열 형태로 result 변수 마지막에 추가 해주고 i를 마지막 문자로 추가한다.
        count = 1
result += str(count) #결과들이 담긴 변수에 마지막으로 카운팅된 값을 문자열 형태로 추가한다.

print(result)

압축할 문자열을 입력하세요: aaabbcccccca
a3b2c6a1

In [52]:
# [Q14] Code-3
a = str(input("압축할 문자열을 입력하세요: ")) + chr(32)
b = ''
count = 1
for i in range(len(a) - 1):
    if a[i] == a[i + 1]:
        count += 1
    else:
        b += a[i] + str(count)
        count = 1
print(b)

압축할 문자열을 입력하세요: aaabbcccccca
a3b2c6a1

In [53]:
# [Q14] Code-4
i=input("압축할 문자열을 입력하세요: ")
elst=[i[0]]
c=1
for n in range(len(i)-1):
    if i[n]==i[n+1]:
        c+=1
    else:
        elst.append(str(c))
        elst.append(i[n+1])
        c=1
elst.append(str(c))
print("".join(elst))

압축할 문자열을 입력하세요: aaabbcccccca
a3b2c6a1

In [54]:
# [Q15] Code-5
Str=input("압축할 문자열을 입력하세요: ")
count=1
for i in range(len(Str)-1):
    if Str[i]==Str[i+1]:
        count+=1
    else:
        print("{}{}".format(Str[i-1],count),end="")
        count=1
print("{}{}".format(Str[len(Str)-1],count))

압축할 문자열을 입력하세요: aaabbcccccca
a3b2c6a1

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [33]:
# [Q15] Code-1
def chkDupNum(s):
    result = []
    for num in s:
        if num not in result:
            result.append(num)
        else:
            return False
    return len(result) == 10
print(chkDupNum("0123456789"))      # True 리턴
print(chkDupNum("01234"))           # False 리턴
print(chkDupNum("01234567890"))     # False 리턴
print(chkDupNum("6789012345"))      # True 리턴
print(chkDupNum("012322456789"))    # False 리턴

True
False
False
True
False

In [47]:
# [Q15] Code-2
def chkDupNum(string):
    num_set = set(string) # 중복된 숫자를 제거한다.
    if len(string) == len(num_set) == 10:   # 중복 제거 한 후의 갯수와 같고 그 갯수가 10이라면
        return "True" # True를 리턴한다.
    else: # 아니라면
        return "False"  # False를 리턴한다.

input_string = "0123456789 01234 01234567890 6789012345 012322456789"
for s in input_string.split(" "):
    print(chkDupNum(s), end=' ')

True False False True False

In [45]:
# [Q15] Code-3
print (list(map(lambda n:len(set(n))==10 and len(n) ==10 ,"0123456789 01234 01234567890 6789012345 012322456789".split()))) # 위 코드2를 한줄로 바꾼 것이다.

[True, False, False, True, False]

In [56]:
# [Q15] Code-4
input_list = "0123456789 01234 01234567890 6789012345 012322456789"

for input in input_list.split(" "):
    if len(input) != 10 or len(input) != len(set(input)):
        print("False")
    else:
        print("True")

True
False
False
True
False

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [5]:
# [Q16] Code-1
dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
}

def morse(src):
    result =[]
    for word in src.split("  "):
        for char in word.split(" "):
            result.append(dic[char])
        result.append(" ")
    return "".join(result)

print(morse('.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'))

HE SLEEPS EARLY

In [18]:
# [Q16] Code-2
dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z', '':' '
}
morse=".... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--"
word=morse.split(" ")
for i in word:
    print(dic[i],end="")

HE SLEEPS EARLY

In [19]:
# [Q16] Code-3
dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z', '':' '
}
m = '.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'
morse = m.split(' ')
s = ''
for m in morse:
    s += dic[m]
print(s)

HE SLEEPS EARLY

In [21]:
# [Q16] Code-4
dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
}
dic['']=' '
output=''

message=input('모스 부호를 입력하시오')
message_trans=message.split(' ')
for i in message_trans:
    output += dic[i]
print(output)

모스 부호를 입력하시오.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
HE SLEEPS EARLY



---

# 다음 정규식 문제는 기말고사 후에 도전해 보세요.

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [ ]:
# [Q17] Code

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [ ]:
# [Q18] Code

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [ ]:
# [Q19] Code

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [ ]:
# [Q20] Code

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb