<a href="https://colab.research.google.com/github/Skystar728/py05/blob/master/notebook/mid_exam_py05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## mid_exam_py05

### 1. 다음식의 연산 결과는?
1. a = 5
2. b = 3
3. a**b

In [1]:
a = 5
b = 3
a**b
# **은 지수연산자이다. 따라서 a**b 는 a^b로 나타낼 수 있다. a는 5이고 b는 3이므로, a**b 는 5^3이므로 125가 된다.

125

### 2. 다음 문자열 a 에 대하여 슬라이싱을 한 결과는?
- a = "Life is too short, You need Python!"

In [2]:
a = "Life is too short, You need Python!"
#                     -16      -8     -1
a[-16:-8]
# -16의 위치에 있는 문자는 "Y"이고, -8의 위치에 있는 문자는 "d" 바로 뒤 " "이다. 따라서 슬라이싱 결과는 "Y"부터 " " 앞인 "d"까지 문자열인 'You need' 가 출력된다.

'You need'

### 3. 다음 list a의 인덱싱 결과는?
- a = [1, 2, (3,4), ['a', 'b', ['My', 'Life', 'Good']]]
- a[3][-1][0]

In [3]:
a = [1, 2, (3,4), ['a', 'b', ['My', 'Life', 'Good']]]
a[3][-1][0]
# 리스트 a의 삼중 인덱싱이다. 앞에서 부터 차례대로 인덱싱을 해보면 a[3]는 ['a', 'b', ['My', 'Life', 'Good']] 이고, 이를 b라고 칭한다.
# 다음으로 b[-1]은 ['My', 'Life', 'Good'] 이고, 이를 c라고 칭한다. 마지막으로 c[0]는 'My' 이다. 따라서 a[3][-1][0]의 결과값은 마지막 c[0]인 'My'가 출력된다.

'My'

### 4. 다음 tuple t1의 슬라이싱 결과는?
- t1 = (0, 1, "s", "t", "u")
- t1[2:-2]

In [4]:
t1 = (0, 1, "s", "t", "u")
#     0  1   2    3    4 
#    -5 -4  -3   -2   -1
t1[2:-2]
# 튜플 t1을 인덱싱 해보면 t1[2]는 's'이다. 마찬가지로 t1[-2] 인덱싱하면 't'이다. t1[2:-2]의 슬라이싱 결과는 's'부터 't'전까지 이므로 's' 하나이다.
# 그러나 튜플은 1개의 요소만을 가질때는 요소 뒤에 콤마를 반드시 붙여야한다. 따라서 t1[2:-2]의 결과값은 ('s',)가 출력된다.

('s',)

## 5. 다음 bool값 출력 중 정확한 것은?
- bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))

In [5]:
bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))
# bool([0, 1, 2]): [0, 1, 2] 리스트는 빈 리스트가 아니므로 bool 연산의 결과로 bool 자료형인 True를 돌려준다.
# bool([0]): [0] 리스트는 빈 리스트가 아니므로 bool 연산의 결과로 bool 자료형인 True를 돌려준다.
# bool((0)): (0)은 튜플이 아닌 숫자형 0을 나타낸다. 따라서 bool 연산의 결과로 bool 자료형인 False를 돌려준다.
# bool((0,)): (0,) 튜플은 빈 튜플이 아니므로 bool 연산의 결과로 bool 자료형인 True를 돌려준다.
# 따라서 bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))의 결과값은 (True, True, False, True)가 출력된다.

(True, True, False, True)

### 6. 다음 조건문을 1줄 코드로 변경하시오.

In [6]:
score = 80
if score >= 60:
    message = "success"
else:
    message = "failure"
print(message)

success

In [7]:
# 변수 message에 값을 할당할 때 if-else 문을 단축 코드로 만들게 되면 조건문의 자리는 수행할 문장의 뒤가 된다. 따라서 코드를 만들어보면
score = 80
message = "success" if score >= 60 else "failure" #이러한 코드가 된다. 위 조건문과 같은 식이 된다.
print(message)

success

### 7. 다음 코드의 실행 결과는?

In [8]:
games = ["A", "B", "C"]

for cnt in range(len(games)): # 리스트 games의 길이는 3이다. range(3)은 range(0,3)와 같다. 그래서 이 식은 for cnt in range(0,3)과 같다.
# cnt는 0,1,2 순으로 진행된다.
  print(cnt, games[cnt], end = ',')
# 첫 번째 시행에선 0 A, 가 출력되고, 두 번째 시행에선 1 B, 가 출력되고, 세 번째 시행에선 2 C, 가 출력된다.
# 따라서 이 코드의 결과값은 0 A,1 B,2 C, 가 된다.

0 A,1 B,2 C,

### 8. 다음의 결과가 출력되지 않는 것은?
- 'I ate 10 apples. so I was sick for three days.'

In [0]:
# code start
number = 10
day = "three"

In [10]:
"I ate {0} apples. so I was sick for {1} days.".format(10, day)
# {0}은 format 함수의 첫 번째 입력값인 숫자 10으로 바뀌고 {1}은 format 함수의 두 번째 입력값인 day의 변수값 three로 바뀐다.
# 따라서 코드의 결과값은 'I ate 10 apples. so I was sick for three days.' 가 출력된다.

'I ate 10 apples. so I was sick for three days.'

In [11]:
f"I ate {number} apples. so I was sick for {day} days."
# f 문자열 포매팅 기능으로 {number}는 number의 변수값 10으로 바뀌고 {day}는 day의 변수값 three로 바뀐다.
# 따라서 코드의 결과값은 'I ate 10 apples. so I was sick for three days.' 가 출력된다.

'I ate 10 apples. so I was sick for three days.'

In [12]:
f"I ate {number} apples. so I was sick for {'three'} days."
# f 문자열 포매팅 기능으로 {number}는 number의 변수값 10으로 바뀌고 {'three'}는 그대로 three가 출력된다.
# 따라서 코드의 결과값은 'I ate 10 apples. so I was sick for three days.' 가 출력된다.

'I ate 10 apples. so I was sick for three days.'

In [13]:
"I ate {0} apples. so I was sick for {1} days.".format(number = 10, day)
# number = 10 형태의 입력값을 사용할 경우 format 함수에는 반드시 name = value와 같은 형태의 입력값만 있어야만 해서 day 또한 같은 형태가 되어야한다. 
# 또한 name = value 형태를 이용하려면, {0}, {1}이 아닌 {number}, {day}와 같은 형태를 사용해야한다.
# 따라서 코드는 오류가 나며 출력이 되지 않는다.

SyntaxError: ignored

### 9. 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하시오.
- 5 + 10 + 15 + 20 + 25 + … + 955 + 960 + 965 + 970 + 975 + … + 995 + 1000 = ?

In [14]:
sum([num for num in range(1,1000) if num % 5 == 0])
# range(1,1000)은 1에서 999까지이다. 1부터 999 까지의 숫자 중 5로 나눴을 때 나머지가 0인 숫자들만 모두 더하는 코드이다.
# 그러므로 1000이 포함되지 않으므로 계산하면 주어진 값보다 1000이 낮은 99500이 출력된다.

99500

In [15]:
len([num for num in range(1,1000) if num % 5 == 0])
# len은 리스트 길이를 구하는 함수이다. 따라서 주어진 코드는 1부터 999 까지의 숫자 중 5로 나눴을 때 나머지가 0인 숫자들의 갯수를 구하는 코드이다.
# 그러므로 1부터 999 까지의 5의 배수의 수인 199가 출력된다.

199

In [16]:
sum([num for num in range(1,1001) if num % 5 == 0])
# range(1,1001)은 1에서 1000까지이다. 1부터 1000 까지의 숫자 중 5로 나눴을 때 나머지가 0인 숫자들만 모두 더하는 코드이다. 그러므로 조건과 맞기에 100500이 출력된다.

100500

In [17]:
len([num for num in range(1,1001) if num % 5 == 0])
# len은 리스트 길이를 구하는 함수이다. 따라서 주어진 코드는 1부터 1000 까지의 숫자 중 5로 나눴을 때 나머지가 0인 숫자들의 갯수를 구하는 코드이다.
# 그러므로 1부터 999 까지의 5의 배수의 수인 200이 출력된다.

200

### 10. 4개 과목의 평균 성적을 구하시오. [a],[b]에 적합한 코드는?
- subjects = ['python', 'english', 'math', 'science']
- scores = [88, 77, 66, 95]
- total = 0
- 
- for subject, score in [a]._____(subjects, scores):
    - total += score
    - print(subject, score)

- print("평균 점수 = {0}".format([b]._____))

In [18]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in enumerate(subjects, scores): # enumerate는 한 개의 자료형만 사용 가능하기에 오류가 발생한다.
    total += score
    print(subject, score)

print("평균 점수 = {0}".format(scores/len(subjects)))

TypeError: ignored

In [19]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in zip(subjects, scores):
    total += score
    print(subject, score)

print("평균 점수 = {0}".format(scores/len(subjects))) # scores가 리스트이기 때문에 계산이 진행되지 않는다.

python 88
english 77
math 66
science 95

TypeError: ignored

In [20]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in enumerate(subjects, scores):
    total += score
    print(subject, score)
# enumerate는 한 개의 자료형만 사용 가능하기에 오류가 발생한다. enumerate를 사용하려면 for 문에서 subject와 subjects를 제거하고, print문에도 subjects를 지워야한다.
print("평균 점수 = {0}".format(total/len(subjects)))
# 위 방식을 이용한다면, total에 리스트 score 요소들의 합이 들어가고, total을 리스트 subjects의 길이인 4로 나눠 평균 값이 나오게 된다.

TypeError: ignored

In [21]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in zip(subjects, scores):
    total += score
    print(subject, score)

print("평균 점수 = {0}".format(total/len(subjects)))
# 아무 오류없이 정상적으로 작동한다.

python 88
english 77
math 66
science 95
평균 점수 = 81.5